/* Par defaut */

* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

/* Body */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    color: #333;
    padding: 0 50px;
    width: 100%;
    min-height: 100vh;
    width: 100%;
}

/* Conteneur global qui définit la mise en page centrale du site */
.main-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    flex: 1;

}

/* ====== HEADER ====== */
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: sticky;
    height: 79px;
    max-width: 1440px;
    width: 100%;

}

/* logo */
#logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ====== NAVIGATION ====== */
/* Nav liste */
nav ul {

    margin-top: -25px;
    list-style: none;
    display: flex;
    gap: 68px;
}

/* Nav style lien */
nav a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    padding: 10px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

/* Nav lien effet barre bleue */
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
}

/* Nav lien hover couleur */
nav a:hover {
    color: #007bff;
}

/* Nav lien hover out */
nav a:hover::after {
    width: 100%;
}



/* ====== SECTION DE RECHERCHE ====== */
/* Mise en page de la section de recherche */
.search-section {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 35px;

}

/* Titre et sous-titre */
.search-section h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    margin-bottom: 8px;


}

.search-section p {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    margin-bottom: 20px;
}

/* Barre de recherche */
.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    max-width: 400px;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
    background: white;
    border-radius: 15px;

}


.search-bar form {
    display: flex;
    flex-direction: row;
}

/* icone de localisation */
.search-bar .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    flex: 0 0 60px;
    padding: 10px;
    background: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 10px;

}

.search-bar .icon i {
    color: #000000;
}

/* Champ de saisie */
.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
    border-radius: 15px;
    text-align: center;
}

/* Champ de saisie - texte placeholder */
.search-bar ::placeholder {
    color: black;
}

.search-bar input {
    overflow: hidden;
}

.search-icon {
    display: none;
}

/* Bouton de recherche */
.search-button {
    background: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    height: 50px;
    padding: 10px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.search-button:hover {
    background: #0056b3;
}


/* ====== FILTRES ====== */
/* Filtres */
.filters {
    display: flex;
    gap: 15px;
}

.filters p {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;


}


.filters-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* Filtres boutton */
.filters button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: white;
    height: 50px;
    border: 2px solid #F2F2F2;
    color: #000;
    padding: 10px 15px;
    border-radius: 25px;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}



/* Filtres boutton effet */
.filters button:hover {
    background: #DEEBFF;
    color: #000;
}

/* Icone-info */
.info-message {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.info-message i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #0065FC;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 15px;
    height: 15px;

}

.filters button i {
    color: #0065FC;
    font-size: 22px;

}


/* ====== SECTION HÉBERGEMENTS ====== */
/*  Mise en page globale */
.hebergement {

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;

}

/* Conteneur principal */

.hebergement-layout {
    display: flex;
    gap: 40px;
    width: 100%;


}

/* Conteneur des hébergements */
.hebergement-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 15px;
    padding: 30px;
    background: #F2F2F2;
    flex: 2;
    width: 100%;

}


.hebergement h2 {
    height: 26px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    width: 100%;




}

/* Cartes d'hébergement */
.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}



.card-container {
    display: flex;
    flex-direction: column;
    background: white;
    gap: 4px;
    padding-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    height: 210px;
    max-width: 250px;
    width: 100%;
    text-decoration: none;
    color: inherit;

}

.card-content {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    gap: 8px;
    width: 100%;
    max-width: 100%;
}

.hebergement h3 {
    font-weight: 700;
    font-family: Raleway;
    line-height: 18px;
    color: #000;
    width: 100%;
    margin: 0;
}

.hebergement p {
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    margin: 0;

}


.card-container img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 5px;
    border: 1px solid #FFFFFF;
    border: 5px solid #FFFFFF;
    width: 100%;
    object-fit: cover;
    height: 60%
}

.note {
    display: flex;
    gap: 5px;
    margin-top: auto;
    width: 81px;
    height: 13.25px;
    width: 100%;
}

.star-blue {
    color: #0065FC;
    width: 14px;
    height: 13px;
    top: 51px;
    left: 15px;

}

.star-grey {
    color: #F2F2F2;
    width: 14px;
    height: 13px;
    top: 51px;
    left: 15px;

}

.euro {
    font-family: Raleway;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.44px;

}


.show-more {
    height: 21px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.13px;
    color: #000;
    text-decoration: none;
    width: 100%;
    max-width: 100%;
    margin-top: auto
}


/* ====== SECTION LES PLUS POPULAIRES ====== */
/* Conteneur des cartes populaires */
.popular-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 100%;
}


.popular-container-title {
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.popular-container-title i {
    color: #0065FC;
    font-size: 18px;
}

/* Conteneur des cartes populaires */
.popular-cards-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    width: 100%;

}



.popular-container-title i {
    color: #0065FC;
}

.popular-container h2 {
    height: 26px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    color: #000000;
    width: 100%;
}

/* Carte populaire */
.popular-card {
    display: flex;
    align-items: center;
    height: 160px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.popular-content {
    display: flex;
    flex-direction: column;
    height: 136px;
    top: 5px;
    left: 123px;
    gap: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 1vw;
    width: 50%;

}

.popular-card img {
    height: 160px;
    width: 35%;
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid #FFFFFF;
}


.hebergement h3 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
    color: #000000;
    width: 100%;
}


.popular-content p {
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.44px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.44px;
    width: 100%;
}


/* ====== SECTION ACTIVITÉS ====== */
/* Mise en page globale */
.activites {
    padding: 30px;
    gap: 30px;
    max-width: 100%;
    width: 100%;
}

.activites h2 {
    height: 30px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    color: #000;
    width: 100%;
}

/* Cartes d'activités */
.activites-wrapper {
    display: flex;
    height: 100%;
    gap: 20px;
    width: 100%;
}

.activite-card {
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    width: 100%;
    text-decoration: none;
}

.activite-card img {
    width: 100%;
    object-fit: fill;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}

.activite-content {
    gap: 10px;
    padding-right: 19px;
    padding-bottom: 20px;
    padding-left: 19px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    width: 100%;
}

.activite-content p {
    width: 100%;
    height: 19px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
    color: #000;
}


/* ====== FOOTER ====== */
/* Mise en page du footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F2F2F2;
    padding: 40px 50px;
    max-width: 1440px;
    width: 100%;
    margin-top: auto;
    
}

/* Colonnes du footer */
.footer-column {
    flex: 1;
    max-width: 300px;
}

/* Titres du footer */
.footer-column h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #000;
}

/* Listes du footer */
.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Liens du footer */
.footer-column li {
    margin-bottom: 10px;
}

.footer-column a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}


/* Tablette (max-width: 1024px) */
@media screen and (max-width: 1024px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: flex-start;
        width: 100%;
        padding: 0 50px;
    }


    .main-container {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    img,
    h3,
    p {
        max-width: 100%;
    }

    .hebergement {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }



    .hebergement-layout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-items: stretch;
        width: 100%;
        gap: 50px;
    }

    .hebergement-container {
        width: 100%;
    }

    .cards-wrapper {
        width: 100%;
    }


    .card-container img {
        border: 5px solid #FFFFFF;

    }

    .note {
        width: 100%;
    }

    .popular-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .popular-cards-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-top: 10px;
    }

    .popular-card {
        width: 100%;
        max-width: 100%;
        height: 146px;
        border-radius: 20px;

    }

    .popular-card img {
        width: 35%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: 5px solid #FFFFFF;
        border-color: white;
    }

    .popular-content {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 136px;
        top: 5px;
        left: 91px;
        gap: 5px;
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
    }

    .popular-card .popular-content h3 {
        font-family: Raleway;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        width: 100%;
    }


    .activites {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .activites-wrapper {
        width: 100%;
    }

    .activite-card {
        width: 100%;
        border-radius: 20px;
        height: 270px;
    }


    .activite-card img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 200px;
    }

    .activite-content {
        gap: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }




    .activite-content p {
        height: 38px;
        font-family: Raleway;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        width: 100%;
    }
}



/* Mobile (max-width: 768px) */

@media screen and (max-width: 768px) {

    body {

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        gap: 30px;

    }


    .main-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }


    header {
        flex-direction: column;
        align-items: center;
        height: 115px;
        display: flex;
        gap: 20px;
        padding: 0;
    }

    header .logo {
        padding: 30px;

    }

    nav {
        width: 100%;
        padding: 0;

    }

    nav ul {
        display: flex;
        gap: 0px;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #f2f2f2;

    }

    nav ul li {
        display: flex;
        width: 50%;
        justify-content: center;
    }


    nav a:active, nav a:focus {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
    }


    nav a {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        color: black;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease;
    }

    nav a:hover::after {
        display: none !important;
    }


    .search-section {
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

    }

    .search-section-title {
        display: flex;
        flex-direction: column;
        gap: 8px;

    }

    .search-section h1 {
        display: flex;
        justify-content: flex-start;
        font-family: Raleway;
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: -1px;
    }


    .search-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;


    }


    .search-bar .icon {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-width: 1px;
        width: 100%;
        max-width: 50px;

    }

    .search-bar input {
        text-align: center;
        font-size: 14px;
    }

    .search-bar button {
        border-radius: 15px;
        border: #0065FC;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    }


    .search-bar button .search-icon {
        display: flex;
    }


    .button-text {
        display: none;
    }


    .search-icon {
        width: 100%;
    }


    form {
        width: 60%;
        max-width: 100%;

    }


    .filters {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin: auto;
    }

    .filters-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }


    .filters-wrapper button {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }





    .hebergement-layout {

        display: flex;
        flex-direction: column-reverse;
        width: 100%;

    }


    .hebergement .cards-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .hebergement-container {
        width: 100%;
        background: none;
        padding-left: 20px;
        padding-right: 20px;

    }

    .card-container {

        width: 100%;
        max-width: 100%;
        height: fit-content;

    }

    .card-container img {
        width: 100%;
        height: 180px;

    }


    .popular-container {

        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 0px;

    }


    .popular-cards-wrapper {

        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .popular-card {
        width: 100%;
        height: 160px;


    }


    .activites {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .activites-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }


    .activite-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 210px;

    }

    .activite-card img {
        object-fit: cover;
        height: 145px;

    }



    .footer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        gap: 50px;
        padding-left: 30px;
    }


    .footer-column ul {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

}